<h3>Pessoa</h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->


<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="Pessoa.startInserting()" ng-hide="Pessoa.inserting || Pessoa.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="Pessoa" entity="api/rest/itv/Pessoa" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Pessoa">
    <div crn-datasource="Pessoa" class="" ng-hide="Pessoa.editing || Pessoa.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Chave Cliente</div>
                </th>
                <th class="">
                    <div class="">Nome Cliente</div>
                </th>
                <th class="">
                    <div class="">Cpf</div>
                </th>
                <th class="">
                    <div class="">Rg</div>
                </th>
                <th class="">
                    <div class="">Og Expe</div>
                </th>
                <th class="">
                    <div class="">Dt Ven</div>
                </th>
                <th class="">
                    <div class="">Vl Venda</div>
                </th>
                <th class="">
                    <div class="">Parcelas Aberto</div>
                </th>
                <th class="">
                    <div class="">Fone Res</div>
                </th>
                <th class="">
                    <div class="">Fone Com</div>
                </th>
                <th class="">
                    <div class="">Fone Cel</div>
                </th>
                <th class="">
                    <div class="">Nome Pai</div>
                </th>
                <th class="">
                    <div class="">Nome Mae</div>
                </th>
                <th class="">
                    <div class="">Estado Civil</div>
                </th>
                <th class="">
                    <div class="">Nome Conjuge</div>
                </th>
                <th class="">
                    <div class="">Tipo Pessoa</div>
                </th>
                <th class="">
                    <div class="">Nome Fantasia</div>
                </th>
                <th class="">
                    <div class="">Cnpj</div>
                </th>
                <th class="">
                    <div class="">DadoPessoalSerasa</div>
                </th>
                <th class="">
                    <div class="">DadoPessoalLinkedIn</div>
                </th>
                <th class="">
                    <div class="">Dado Pessoal Facebook</div>
                </th>
                <th class="">
                    <div class="">Email</div>
                </th>
                <th class="">
                    <div class="">Email Dois</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.chaveCliente  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.nomeCliente  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.cpf  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.rg  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.ogExpe  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.dtVen | date:'dd/MM/yyyy'}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.vlVenda  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.parcelasAberto  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.foneRes  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.foneCom  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.foneCel  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.nomePai  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.nomeMae  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.estadoCivil  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.nomeConjuge  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.tipoPessoa  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.nomeFantasia  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.cnpj  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.dadoPessoalSerasa.nome}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.dadoPessoalLinkedIn.url}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.dadoPessoalFacebook.urlId}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.email  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.emailDois  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-Pessoa">
    <div class="form" ng-show="Pessoa.editing || Pessoa.inserting">
        <form crn-datasource="Pessoa" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br/>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-chaveCliente" class="">
                    <div class="form-group">
                        <label for="textinput-chaveCliente" class="">Chave Cliente</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.chaveCliente"
                                            class="form-control"
                                            id="textinput-chaveCliente"
                                            placeholder="Chave Cliente"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-nomeCliente" class="">
                    <div class="form-group">
                        <label for="textinput-nomeCliente" class="">Nome Cliente</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.nomeCliente"
                                            class="form-control"
                                            id="textinput-nomeCliente"
                                            placeholder="Nome Cliente"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-cpf" class="">
                    <div class="form-group">
                        <label for="textinput-cpf" class="">Cpf</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.cpf"
                                            class="form-control"
                                            id="textinput-cpf"
                                            placeholder="Cpf"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-rg" class="">
                    <div class="form-group">
                        <label for="textinput-rg" class="">Rg</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.rg"
                                            class="form-control"
                                            id="textinput-rg"
                                            placeholder="Rg"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-ogExpe" class="">
                    <div class="form-group">
                        <label for="textinput-ogExpe" class="">Og Expe</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.ogExpe"
                                            class="form-control"
                                            id="textinput-ogExpe"
                                            placeholder="Og Expe"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-dtVen" class="">
                    <div class="form-group">
                        <label for="textinput-dtVen" class="">Dt Ven</label>

                                <div style="position:relative">
                                    <input type="text" as-date
                                           format="DD/MM/YYYY"
                                           ng-model="Pessoa.active.dtVen" class="form-control" id="textinput-dtVen" placeholder="Dt Ven" >
                                </div>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-vlVenda" class="">
                    <div class="form-group">
                        <label for="textinput-vlVenda" class="">Vl Venda</label>

                                <input type="number" step="0.01" ng-model="Pessoa.active.vlVenda" class="form-control" id="textinput-vlVenda" placeholder="Vl Venda" >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-parcelasAberto" class="">
                    <div class="form-group">
                        <label for="textinput-parcelasAberto" class="">Parcelas Aberto</label>

                                <input type="number"  ng-model="Pessoa.active.parcelasAberto" class="form-control" id="textinput-parcelasAberto" placeholder="Parcelas Aberto" >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-foneRes" class="">
                    <div class="form-group">
                        <label for="textinput-foneRes" class="">Fone Res</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.foneRes"
                                            class="form-control"
                                            id="textinput-foneRes"
                                            placeholder="Fone Res"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-foneCom" class="">
                    <div class="form-group">
                        <label for="textinput-foneCom" class="">Fone Com</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.foneCom"
                                            class="form-control"
                                            id="textinput-foneCom"
                                            placeholder="Fone Com"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-foneCel" class="">
                    <div class="form-group">
                        <label for="textinput-foneCel" class="">Fone Cel</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.foneCel"
                                            class="form-control"
                                            id="textinput-foneCel"
                                            placeholder="Fone Cel"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-nomePai" class="">
                    <div class="form-group">
                        <label for="textinput-nomePai" class="">Nome Pai</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.nomePai"
                                            class="form-control"
                                            id="textinput-nomePai"
                                            placeholder="Nome Pai"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-nomeMae" class="">
                    <div class="form-group">
                        <label for="textinput-nomeMae" class="">Nome Mae</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.nomeMae"
                                            class="form-control"
                                            id="textinput-nomeMae"
                                            placeholder="Nome Mae"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-estadoCivil" class="">
                    <div class="form-group">
                        <label for="textinput-estadoCivil" class="">Estado Civil</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.estadoCivil"
                                            class="form-control"
                                            id="textinput-estadoCivil"
                                            placeholder="Estado Civil"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-nomeConjuge" class="">
                    <div class="form-group">
                        <label for="textinput-nomeConjuge" class="">Nome Conjuge</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.nomeConjuge"
                                            class="form-control"
                                            id="textinput-nomeConjuge"
                                            placeholder="Nome Conjuge"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-tipoPessoa" class="">
                    <div class="form-group">
                        <label for="textinput-tipoPessoa" class="">Tipo Pessoa</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.tipoPessoa"
                                            class="form-control"
                                            id="textinput-tipoPessoa"
                                            placeholder="Tipo Pessoa"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-nomeFantasia" class="">
                    <div class="form-group">
                        <label for="textinput-nomeFantasia" class="">Nome Fantasia</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.nomeFantasia"
                                            class="form-control"
                                            id="textinput-nomeFantasia"
                                            placeholder="Nome Fantasia"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-cnpj" class="">
                    <div class="form-group">
                        <label for="textinput-cnpj" class="">Cnpj</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.cnpj"
                                            class="form-control"
                                            id="textinput-cnpj"
                                            placeholder="Cnpj"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Dadopessoalserasa" entity="api/rest/itv/DadoPessoalSerasa" keys="id" class="" dependent-by="{{Pessoa}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-dadoPessoalSerasa" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-dadoPessoalSerasa" class="">DadoPessoalSerasa</label>

                                <ui-select ng-model="Pessoa.active.dadoPessoalSerasa" crn-datasource="Dadopessoalserasa" class="crn-select" id="combobox-dynamic-dadoPessoalSerasa"  theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.nome}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.nome}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Dadopessoallinkedin" entity="api/rest/itv/DadoPessoalLinkedIn" keys="id" class="" dependent-by="{{Pessoa}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-dadoPessoalLinkedIn" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-dadoPessoalLinkedIn" class="">DadoPessoalLinkedIn</label>

                                <ui-select ng-model="Pessoa.active.dadoPessoalLinkedIn" crn-datasource="Dadopessoallinkedin" class="crn-select" id="combobox-dynamic-dadoPessoalLinkedIn"  theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.url}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.url}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Dadopessoalfacebook" entity="api/rest/itv/DadoPessoalFacebook" keys="id" class="" dependent-by="{{Pessoa}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-dadoPessoalFacebook" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-dadoPessoalFacebook" class="">Dado Pessoal Facebook</label>

                                <ui-select ng-model="Pessoa.active.dadoPessoalFacebook" crn-datasource="Dadopessoalfacebook" class="crn-select" id="combobox-dynamic-dadoPessoalFacebook"  theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.urlId}}
                                    </ui-select-match>
                                    <ui-select-choices  repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.urlId}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-email" class="">
                    <div class="form-group">
                        <label for="textinput-email" class="">Email</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.email"
                                            class="form-control"
                                            id="textinput-email"
                                            placeholder="Email"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-emailDois" class="">
                    <div class="form-group">
                        <label for="textinput-emailDois" class="">Email Dois</label>

                                <input
                                            type="text"
                                            ng-model="Pessoa.active.emailDois"
                                            class="form-control"
                                            id="textinput-emailDois"
                                            placeholder="Email Dois"
                                            >
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->
